# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-workspace': [{
    label: 'Enable broadcast',
    command: 'broadcast:start'
  }]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'broadcast'
      'submenu': [
        { 'label': 'Start', 'command': 'broadcast:start' },
        { 'label': 'Stop', 'command': 'broadcast:stop' }
      ]
    ]
  }
]
