# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable broadcast': 'broadcast:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'broadcast'
      'submenu': [
        { 'label': 'Start', 'command': 'broadcast:start' },
        { 'label': 'Stop', 'command': 'broadcast:stop' }
      ]
    ]
  }
]
